button.number{
    cursor: pointer;
    display: block;
    font-size: 32px;
    font-weight: 300;
    height: 85px;
    line-height: 85px;
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 85px;
    transition: opacity .2s ease-out;
    font-family: 'Roboto', sans-serif;
    color: #424346;
    outline: 1px solid #ffffff6e;
    border: 1px solid transparent;
    background-color: #ffffff00;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    backdrop-filter: blur(6px);
    transition: all 0.2s ease-in-out;
    will-change: auto;
}

button.number:hover{
    opacity: .8;
}

button.number:active{
    opacity: .4;
}

button.operator {
    flex-grow: 1;
    font-size: 36px;
    font-weight: 100;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 32px;
    font-weight: 300;
    height: 85px;
    line-height: 85px;
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 85px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff4d;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    user-select: none;
    backdrop-filter: blur(6px);
    transition: all 0.2s ease-in-out;
    will-change: auto;
}

button.operator:hover{
    opacity: .8;
}

button.operator:active{
    opacity: .4;
}

