.container{
    align-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #d16b6b, #d65c7b, #d25193, #c24eb0, #a056cf, #7e63d8, #556ddd, #0074dc, #0076c3, #00729e, #006a78, #055f59);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    height: 550px;
    justify-content: flex-start;
    margin: 0 auto;
    overflow: hidden;
    width: 340px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    box-shadow: rgba(229, 226, 226, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.buttons{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ffffff4d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.title{
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Staatliches', cursive;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}